<ion-view view-title="购物车" ng-controller="CheckoutCtrl" >
    <ion-header-bar align-title="center" class="bar-balanced">
        <div class="buttons">
            <a href="#/tab/cart"><button class="button icon-left ion-chevron-left">购物车</button></a>
        </div>
        <h1 class="title">结算</h1>
    </ion-header-bar>

    <ion-content>
        <div class="card" >
            <i class="item">商品清单</i>
            <ion-list>
                <ion-item class="item-divider item-avatar item-icon-right" ng-repeat="product in cartList">
                    <img ng-src="{{product.pic_url}}">
                    <div class="row" >
                        <div class="col col-66">
                            <h2>{{product.product_name}}</h2>  
                            <span>{{product.spec}} {{product.unit_quantity}}</span>
                            <p><label for="">单价：￥</label>{{product.price}}</p>
                        </div>
                        <div class="col col-33">
                            <p><label for="">数量：</label>{{product.number}}</p>
                            <p><label for="">总价：￥</label>{{totalPrice=product.price * product.number;totalPrice}}</p>
                        </div>
                    </div>
                </ion-item>
            </ion-list>
            <i class="item">订单价格：￥ {{subTotal}} 元</i>
        </div>
        <div class="card">
            <i class="item">收货地址</i>
            <ion-list class="item">
                <ion-item>
                    巨好吃果园
                </ion-item>
                <ion-item>
                    ***店长
                </ion-item>
                <ion-item>
                    广东省深圳市南山区花果山路
                </ion-item>
                <ion-item>
                    18888888888
                </ion-item>
            </ion-list>
        </div>
        <div class="card">
            <i class="item">配送和支付</i>
            <ion-list class="item">
                <ion-item>
                    配送时间：<span>2015年01月20日 07:30</span>
                </ion-item>
                <ion-item>
                    配送方式：<span>自有物流配送/ 自提</span>
                </ion-item>
                <ion-item>
                    支付方式：<span>现金支付/ 月结</span>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <a href="#/tab/cart"><button class="button icon-left ion-chevron-left">购物车</button></a>
        </div>
        <h1 class="title">总额：￥ {{subTotal}}
        </h1>
        <div class="buttons" ng-click="doSomething()">
            <a href="#/tab/submit" class="button button-assertive" on-touch="submit()">
                    提交订单
            </a>
        </div>
    </ion-footer-bar>
</ion-view>
