<ion-view view-title="UserCenter">
    <ion-header-bar align-title="center" class="bar-royal">
        <a href="#/tab/plist"><button class="button icon-left ion-chevron-left"> 返回首页</button></a>
        <h1 class="title block">个人中心</h1>
        <div class="buttons" ng-switch="isLoggedIn">
            <button class="button icon-left ion-log-out" ng-switch-when="true" on-touch="logout()">退出</button>
            <button class="button icon-left ion-log-in" ng-switch-when="false" on-touch="login()">登录</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card" ng-hide="isLoggedIn">
            <a href="#/tab/login" class="item">
                <h2><i class="icon ion-alert-circled" style="position:relative">
                        请点这里登录后，查看个人中心
                </i></h2>
            </a>
        </div>
        <div class="list card" ng-show="isLoggedIn">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                我的资料 
            </a>
            <div class="card">
                <div class="item">
                    <i class="icon ion-home" style="padding-right:5px"></i>
                    {{clientInfo.shop_name}}
                </div>
                <div class="item">
                    <i class="icon ion-location" style="padding-right:5px"></i>
                    {{clientInfo.address}}
                </div>
                <div class="item">
                    <div class="row">
                        <span class="column col-50">
                            <i class="icon ion-person" style="padding-right:10px"></i>
                            {{clientInfo.owner}}
                        </span>  
                        <span class="column col-50">
                            <i class="icon ion-iphone" style="padding-right:10px"></i>
                            {{clientInfo.tel}}
                        </span>  
                    </div>

                    <div class="row">
                        <span class="column col-50">
                            <i class="icon ion-email" style="padding-right:10px"></i>
                            {{clientInfo.email}}
                        </span>  
                        <span class="column col-50">
                            <i class="icon ion-chatbubble-working" style="padding-right:10px"></i>
                            {{clientInfo.wechat}}
                        </span>  
                    </div>
                </div>
            </div>
            <a href="#/tab/orders" class="item item-icon-left item-icon-right">
                <i class="icon ion-calculator"></i>
                历史订单：
                <i class="icon ion-clipboard"></i>
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-social-usd"></i>
                我的积分：{{clientInfo.bonus}}
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-locked"></i>
                修改密码：
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>
                联系我的客户经理： {{clientInfo.am_tel}}
            </a>
        </div>
    </ion-content>
</ion-view>
