<ion-view view-title="Products">
    <ion-header-bar align-title="center" class="bar-royal">
        <a href="#/tab/plist"><button class="button icon-left ion-chevron-left"> 返回首页</button></a>
        <h1 class="title block">个人中心</h1>
        <button class="button icon-left ion-log-out">退出</button>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <a href="#" class="item item-icon-left">
                <i class="icon ion-card"></i>
                我的资料
            </a>
            <div class="item">
                广东省深圳市南山区花果山路888号
            </div>
            <div class="item">
                王老板     18818888888
            </div>
            <a href="#" class="item item-icon-left item-icon-right">
                <i class="icon ion-calculator"></i>
                历史订单：
                <i class="icon ion-clipboard"></i>
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-social-usd"></i>
                我的积分：9999
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios7-telephone"></i>
                联系我的客户经理：18818888888
            </a>
        </div>
    </ion-content>
</ion-view>
