<ion-view view-title="购物车">
    <ion-header-bar align-title="center" class="bar-balanced">
        <div class="buttons">
            <a href="#/tab/plist"><button class="button">商品列表</button></a>
        </div>
        <h1 class="title">购物车</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list show-delete="false">
            <ion-item class="item-divider item-avatar item-icon-right" ng-repeat="product in cartList" type="item-text-wrap" href="#/tab/product/{{product._id}}">
                <img ng-src="{{product.pic_url}}">
                <div class="row" >
                    <div class="col col-33">
                        <h2>{{product.product_name}}</h2>  
                        <span>{{product.spec}} {{product.unit_quantity}}</span>
                        <p><label for="">单价：￥</label>{{product.price}}</p>
                    </div>
                    <div class="col col-33">
                        <p><label for="">数量：</label>{{product.number}}</p>
                        <p><label for="">总价：￥</label>{{totalPrice=product.price * product.number;totalPrice}}</p>
                    </div>
                    <div class="col col-33">
                        <div class="button-bar">
                            <a href="" on-touch="updateCart('{{product._id}}', '1')" class="button ion-plus-circled" style="font-size:1.5em;color:dark-green;border:none"></a>
                            <a href="" on-touch="updateCart('{{product._id}}', '-1')"  class="button ion-minus-circled" style="font-size:1.5em;color:dark-green;border:none"></a>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <a href="#/tab/plist"><button class="button">商品列表</button></a>
        </div>
        <h1 class="title">总额：￥ {{subTotal}}
        </h1>
<!--         <div class="buttons" ng-show="isLoggedIn">
            <a href="#/tab/order_list" ng-if="cartHasProducts" ng-show="isLoggedIn"><button class="button">去结算</button></a>
            <a href="#/tab/login" ng-if="cartHasProducts" ng-hide="isLoggedIn"><button class="button">登录后结算</button></a>
        </div> -->

        <div class="buttons" ng-switch="isLoggedIn">
            <a class="button" href="#/tab/order_list" ng-if="cartHasProducts" ng-switch-when="true">
                去结算</a>
            <a class="button" href="#/tab/login/checkout" ng-if="cartHasProducts" ng-switch-default>
                登录后结算</a>
        </div>

    </ion-footer-bar>
</ion-view>
