

<ion-view view-title="Products">
    <ion-content>
        <ion-refresher
            pulling-text="下拉 更新列表..."
            on-refresh="onSwipeDown()">
        </ion-refresher>
        <ion-list show-delete="false" can-swipe="listCanSwipe" on-swipe-down="onSwipeDown()">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="product in products" type="item-text-wrap" href="#/tab/product/{{product._id}}">
                <img ng-src="{{product.pic_url}}">
                <h2>{{product.product_name}}</h2>  
                <span>{{product.spec}} {{product.unit_quantity}}</span>
                <p><label for="">价格：￥</label>{{product.price}}</p>
                <p>{{product.sup_info}}</p>
                <!-- <p><img ng-src="{{product.pic_url}}"></p> -->
                <!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
                
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>





<ion-tabs class="tabs-background-green" style='zIndex:999999;'>
  <!-- 商品列表 Tab -->
  <ion-tab title="商品列表" icon-off="ion-social-apple-outline" icon-on="ion-social-apple" href="#/tab/plist">
    <ion-nav-view name="tab-plist"></ion-nav-view>
  </ion-tab>

  <!-- 购物车 Tab -->
  <ion-tab title="购物车" icon-off="ion-model-s" icon-on="ion-model-s" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>
</ion-tabs>






<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- 商品列表 Tab -->
  <ion-tab title="商品列表" icon-off="ion-social-apple-outline" icon-on="ion-social-apple" href="#/tab/plist">
    <ion-nav-view name="tab-plist"></ion-nav-view>
  </ion-tab>

  <!-- 购物车 Tab -->
  <ion-tab title="购物车" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart" href="#/tab/cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios7-pulse" icon-on="ion-ios7-pulse-strong" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios7-chatboxes-outline" icon-on="ion-ios7-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>


